
form.patient-form {
  background: rgb(59, 95, 111);
  background: linear-gradient(
    90deg,
    rgba(59, 95, 111, 1) 0%,
    rgba(136, 192, 217, 1) 100%
  ); /* Cor sólida do gradiente inicial */
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-height: 98%;
  max-width: 600px;
  margin: 5px auto;
  box-sizing: border-box;
  color: #ffffff;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

/* Títulos e legendas */
form.patient-form h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form.patient-form fieldset {
  border: none;
  margin-bottom: 15px;
  padding: 0;
}

form.patient-form legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

/* Labels e campos */
form.patient-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

form.patient-form input,
form.patient-form select,
form.patient-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

form.patient-form input:focus,
form.patient-form select:focus,
form.patient-form textarea:focus {
  outline: none;
  border-color: #ffffff;
}

.container-cadastrar-paciente {
  
}
/* Botão */
form.patient-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #00ca1e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form.patient-form button:hover {
  background: #00ff26;
}


.open-modal-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 16px 0 35px rgba(0, 0, 0, 0.3);
}

.open-modal-btn:hover {
  background-color: #47a4ff;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Fundo embassado */
  background: rgba(0, 0, 0, 0.4); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}

.modal-content {
  background: rgb(59, 95, 111);
  background: linear-gradient(
    90deg,
    rgba(59, 95, 111, 1) 0%,
    rgba(136, 192, 217, 1) 100%
  );
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90%;
  position: relative; /* Para posicionar o botão "X" */
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.close-modal-btn:hover {
  color: #c9302c;
}
