.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 auto;
    max-height: 94%;
    overflow-y: auto;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  .campo-data {
    margin-bottom: 20px;
  }
  
  .campo-data label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .campo-data input {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
  }
  
  .radio-group {
    display: flex;
    gap: 10px;
  }
  
  .radio-group label {
    font-size: 0.9rem;
  }
  
  .campo-sinais-vitais input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 0.9rem;
  }
  
  .campo-adicionar {
    display: flex;
    gap: 10px;
  }
  
  .campo-adicionar input {
    flex-grow: 1;
    padding: 8px;
    font-size: 0.9rem;
  }
  
  button {
    background-color: #1976d2;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #1565c0;
  }
  
  .lista-medicamentos {
    margin-top: 10px;
  }
  
  .medicamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .btn-salvar {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .btn-salvar:hover {
    background-color: #1565c0;
  }
  
  /* Nova regra para as refeições */
  .refeicoes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .refeicao {
    flex: 1 1 calc(50% - 10px); /* Faz com que duas refeições caibam por linha */
    min-width: 280px; /* Garante que as refeições não fiquem muito pequenas */
    box-sizing: border-box;
  }
  
  .campo-observacoes {
    margin-top: 20px;
  }
  
  .campo-observacoes label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .campo-observacoes textarea {
    width: 100%;
    height: 120px;  /* Altura ajustada para comportar mais texto */
    max-width: 500px;  /* Tamanho fixo máximo */
    padding: 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;  /* Permite ao usuário redimensionar verticalmente */
  }
  
  .campo-observacoes button {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .campo-observacoes button:hover {
    background-color: #1565c0;
  }
  